body{
  background-image: url(../images/login.jpg);
  background-size: cover;
}
.login
{
  width:300px;
  height: 250px;
  background-color: rgba(0,0,0,0.5);
  margin:0 auto;
  margin-top:40px;
  padding-top:2px;
  padding-left: 50px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius:15px;
  -moz-border-radius:15px;
  color:white;
  font-weight:bolder;
  box-shadow: inset -4px -4px rgba(0,0,0,0.5);
  font-size:18px;

}
.login input[type="text"]{
  width: 200px;
  height: 25px;
  border:0;
  border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  -moz-border-radius:5px;
  padding-left:5px;
}
.login input[type="password"]{
  width: 200px;
  height: 25px;
  border:0;
  border-radius:5px;
  padding-left:5px;
  -webkit-border-radius: 5px;
  -o-border-radius:5px;
  -moz-border-radius:5px;
}
.login input[type="submit"]
{
  width:100px;
  height:25px;
  border:0;
  border-radius:5px;
  -webkit-border-radius: 5px;
  -o-border-radius:5px;
  -moz-border-radius:5px;
  background-color:#99999;
  text-align: center;

}
h3{
  font-family: sans-serif,arial;
  font-size:15px;
  margin-top:-12px;
}
a:link {
  text-decoration: none;
}
h2{
  color:#BEE7E3;
}
a{
  color: skyblue;
}
